.quan-ly-diem-den-page {
  .ant-table-wrapper {
    .ant-table {
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .quan-ly-diem-den-page {
    .ant-card-extra {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}
